<div class="row mt-2" *ngIf="comments">
  <div class="col-12">
    <form class="form-container" *ngIf="user" [formGroup]="commentForm" (ngSubmit)="submit($event)">
      <div class="form-group">
        <label for="text">Leave A Comment</label>
        <textarea class="form-control" id="text" type="text" formControlName="text"></textarea>
        <div class="text-danger" *ngIf="commentForm.get('text')?.hasError('required') && commentForm.get('text')?.touched">
          Please enter in some text
        </div>
      </div>
      <div class="float-right mb-4">
        <button class="btn btn-success btn-md">Post Comment</button>
      </div>
    </form>
    <h2>Comments</h2>
    <div class="comments-list mt-2">
      <div class="mt-2 mb-2" *ngFor="let comment of comments;">
        <div class="text-white bg-primary comment-container" *ngIf="getUser(comment); let c_user">
          <div class="comment-info pb-2">
            <span><img class="user-photo" [src]="c_user.photoURL"></span>
            <span class="user-name ml-2">{{c_user.displayName}} ({{comment.date | date:'short'}})</span>
          </div>
          <p class="mt-3 comment-body">{{comment.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
