<nav class="zjk-nav bg-primary">
  <div class="zjk-nav-menu">
    <div class="zjk-brand"><a>One Stop Cheese Shop</a></div>
    <div class="zjk-nav-menu-toggle" (click)="toggle = !toggle"><a>&#9776;</a></div>
  </div>
  <div class="zjk-nav-container" *ngIf="toggle || !mobile">
    <div class="zjk-left">
      <div class="zjk-nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></div>
      <div class="zjk-nav-item"><a routerLink="/products" routerLinkActive="active">Products</a></div>
    </div>
    <div class="zjk-right">
        <div class="zjk-nav-item" *ngIf="user && user.level === 1"><a routerLink="/admin" routerLinkActive="active">Admin</a></div>
      <div class="zjk-nav-item" *ngIf="user"><a routerLink="/cart" routerLinkActive="active">Cart({{cartCount}})</a></div>
      <div class="zjk-nav-item" *ngIf="user"><a (click)="logout()">Logout</a></div>
      <div class="zjk-nav-item" *ngIf="!user"><a routerLink="/login">Login</a></div>
    </div>
  </div>
</nav>
