.login-container {
  padding: 20px;
  min-height: 375px;
  height: 45vh;
  border-radius: 15px;
}

.divider {
  border-right: 2px solid white;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container > .row {
  height: 80%;
  display: flex;
}

.login-title {
  color: white;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.form-group {
  color: white;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .google-image {
    width: 200px;
  }
}
