<h1 class="mt-3">Submit New Product</h1>
<form class="mt-3" [formGroup]="newProductForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" type="text" formControlName="name">
    <div class="text-danger" *ngIf="newProductForm.get('name')?.hasError('required') && newProductForm.get('name')?.touched">
      Please enter the product's name
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" type="text" formControlName="description"></textarea>
    <div class="text-danger" *ngIf="newProductForm.get('description')?.hasError('required') && newProductForm.get('description')?.touched">
      Please enter a description
    </div>
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    <input class="form-control" id="image" type="text" formControlName="image">
    <div class="text-danger" *ngIf="newProductForm.get('image')?.hasError('required') && newProductForm.get('image')?.touched">
      Please enter an image URL
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input class="form-control" id="price" type="number" formControlName="price">
    <div class="text-danger" *ngIf="newProductForm.get('price')?.hasError('required') && newProductForm.get('price')?.touched">
      Please enter a price
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success btn-lg float-right">Submit</button>
  </div>
</form>