<ng-container *ngIf="cart && cart.length > 0">
  <p class="total-price mt-4 text-center">Total Amount: {{totalPrice | currency : 'USD' : 'symbol'}}</p>
  <button class="btn btn-success btn-md mb-1 float-right" routerLink="/checkout">Checkout</button>
  <table class="table mt-4">
    <thead class="bg-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <ng-container *ngIf="getProduct(item.productID); let product">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{item.count}}</td>
          <td>
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="btn-group btn-group-sm mb-2" role="group" >
                  <button type="button" class="btn btn-success" (click)="add.emit(item.productID)">+</button>
                  <button type="button" class="btn btn-danger" (click)="subtract.emit(item.productID)">−</button>
                </div>
              </div>
              <div class="col-12 col-md-9">
                <button type="button" class="btn btn-danger btn-sm" (click)="remove.emit(item.productID)">Remove</button>
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>

<p class="mt-4 text-center" *ngIf="cart && cart.length === 0">Your cart is empty! Add a product to your cart and come back.</p>
